#baner{
    background-color: #301B5E;
    color: white;
    font-family: Arial;
    height: 60px;
    padding: 20px;
}
#left{
    background-color: #0193DA;
    width: 60%;
    height: 700px;
    float: left; 
}
#right{
    background-color: #2DAFEE;
    width: 40%;
    height: 700px;
    text-align: center;
    float: left;
}
#footer{
    background-color: #301B5E;
    color: white;
    text-align: center;
    clear: both;
}
img{
    padding: 20px;
    border: 1px dotted orange;
}
a{
    color: white;
}
a:hover{
    color: red;
}
button {
	background: orange;
	color: white;
	border: none;
	padding: 20px;
}